@import "tobe/function";
@charset "UTF-8";
@mixin a($display:inline,$width:auto,$height:auto,$color:#000,$background:#fff){
    text-align: center;
    display:$display;
    color:$color;
    background:$background;
    width:$width;
    height: $height;
    &:hover{
        text-decoration: none;
    }
}

@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

@mixin shadow($shadow...){
    box-shadow:$shadow;
}

@mixin max-width-screen($num){
    @media only screen and (max-width:$num){
        @content
    }
}
@mixin min-width-screen($num){
    @media only screen and (min-width:$num){
        @content
    }
}
@mixin max-height-screen($num){
    @media only screen and (max-height:$num){
        @content
    }
}
@mixin min-height-screen($num){
    @media only screen and (min-height:$num){
        @content
    }
}

